/**
 * @Author: viviennemulvey
 * @Date:   2020-09-19T20:16:32+01:00
 * @Last modified by:   viviennemulvey
 * @Last modified time: 2020-09-25T15:26:59+01:00
 */



.box {
  border-radius: 5px;
  padding: 10px;
}

.header {
}

.header .hero-image {
  background-image: url("../images/skelligs.jpg");
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header .hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.sidebar {
  background-color: #fff;
}

.sidebar2 {
  background-color: #fff;
}

.footer {
  background-color: #ccc;
}
